.text-box {
    font-family: 'digital-7';
    height: 60px;
    width:  233px;
    color: black;
    background-color: #9fd9a3;
    font-size: 45px;
    text-align: right;
    margin-bottom: 5px;
    border-radius: 10px;
}
